.table {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#ccc;
}
.table td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
    border: 1px solid #ccc;
    color:#333;
    background-color:#fff;
}
.table th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
    border: 1px solid #ccc;
    color:#333;
    background-color:#f0f0f0;
}
.table .tg-4eph{
    background-color:#f9f9f9
}